@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Josefin+Sans:wght@500;600&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b1b0b0;
}

header {
  background-color: white;
  width: 100%;
  height: 60px;
}

nav,
nav * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.logo {
  width: 100%;
  height: 100%;
}

.nav-links {
  width: 80%;
  height: 100%;
  justify-content: center;
}

.welcome {
  margin-left: 30px;
  margin-right: 30px;
}

#home-pic {
  margin: 20px;
  height: 700px;
}
#home-pic img {
  height: 100%;
  width: 100%;
}

nav {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-size: 1.25em;
  background-color: white;
  color: black;
}

.Rival-Unit-logo {
  width: 20%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: "Permanent Marker", serif;
  font-size: 25px;
}

a {
  width: 33%;
  height: 100%;
  color: black;
  text-decoration: none;
  background-color: white;
}

a:hover {
  background-color: #252525;
  color: white;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-size: 120px;
  text-shadow: 5px 5px black;
  font-family: "Permanent Marker", serif;
  font-weight: 900;
}

p {
  font-family: "EB Garamond", sans-serif;
}

.welcome {
  text-align: center;
  font-size: 30px;
  color: black;
}