nav {
  justify-content: space-between;
  width: 100%;
  height: 80px;
  font-size: 1.25em;
  background-color: $secondary-color;
}

.Rival-Unit-logo {
  width: 10%;
  height: 100%;
  background-color: black;
  font-family: $font-logo;
  font-size: 25px;
}
.logo-pic {
  width: 100%;
  height: 100%;
}
a {
  width: 15%;
  height: 80%;
  margin-left: 1%;
  font-size: 1.4em;
  background-color: $accent-color;
  color: $secondary-color;
  text-decoration: none;
  border-radius: 20px;
}
a:hover {
  color: white;
  background-color: $secondary-color;
}
h1 {
  font-size: 80px;
  font-family: $font-headings;
}
.home-heading {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-size: 120px;
  text-shadow: 5px 5px black;
  font-family: $font-logo;
  font-weight: 900;
}
p {
  font-family: $font-body;
  font-size: 25px;
}
.welcome {
  text-align: center;
  font-size: 30px;
  color: black;
}

.footer {
  width: 30%;
  height: 100%;
  font-size: 20px;
  font-family: $font-body;
  background-color: black;
  text-align: flex-start;
}
