nav {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-size: 1.25em;
  background-color: white;
  color: black;
}

.Rival-Unit-logo {
  width: 20%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: $font-logo;
  font-size: 25px;
}
a {
  width: 33%;
  height: 100%;
  color: black;
  text-decoration: none;
  background-color: white;
}
a:hover {
  background-color: rgb(37, 37, 37);
  color: white;
}
h1 {
  font-size: 80px;
  font-family: $font-headings;
}
.home-heading {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-size: 120px;
  text-shadow: 5px 5px black;
  font-family: $font-logo;
  font-weight: 900;
}
p {
  font-family: $font-body;
  font-size: 25px;
}
.welcome {
  text-align: center;
  font-size: 30px;
  color: black;
}

.footer {
  width: 30%;
  height: 100%;
  font-size: 20px;
  font-family: $font-body;
  background-color: black;
  text-align: flex-start;
}
